In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date,date,num_25,num_50,...,total_secs,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,is_churn
0,stBalzWUP3HmiKPW6PoarmyG6wSnLYUxJzAkj9rNJzw=,5,24,female,9,20120301,20170911,20160517,0,0,...,4282.763,36,30,150,150,0,20151102,20151202,0,1
1,i2B9In7K03UhHtV4PHc0ntP9t9XNfJ+IyCXM8tGy/9A=,13,34,female,9,20060106,20170916,20160108,2,0,...,1830.975,40,30,149,149,1,20160312,20160411,0,0
2,JHIW++D91fUw/0GtCQ7Tsogh8hG5BWvZf0nITnMxT/w=,13,30,male,9,20061024,20170930,20150623,1,1,...,1277.621,34,0,0,149,1,20150630,20150731,0,0
3,x/WBN5eVLWRnZRBGKnUDZRjsK59PiLiVp0+5Dt1GwUg=,6,24,female,9,20110919,20170222,20160521,9,1,...,18315.424,38,30,149,149,0,20160426,20160526,0,1
4,bTplk9So0DEFLPHSxRyI8/vo4P7EBhkxkamyFYjjw68=,16,29,female,3,20120913,20171008,20150521,0,0,...,15156.324,34,0,0,149,1,20150930,20151031,0,0