In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
train.head()

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1

### LINEAR MODELS

In [3]:
members_lin = pd.read_csv('members_linear6000.csv')
logs_lin = pd.read_csv('transactions_linear6000.csv')
trans_lin = pd.read_csv('logs_linear6000.csv')

In [4]:
unique_ids = members_lin.msno.unique()

In [5]:
train = train[train.msno.isin(unique_ids)]

In [6]:
lin1 = pd.merge(members_lin, logs_lin, on='msno')

In [7]:
lin2 = pd.merge(lin1, trans_lin, on='msno')

In [8]:
lin_final = pd.merge(lin2, train, on='msno')

In [9]:
lin_final.to_csv('linear_model6000.csv', index=False)

In [10]:
print(lin_final.shape)
lin_final.head()

(3664, 189)

,msno,bd,city_1,city_3,city_4,city_5,city_6,city_7,city_8,city_9,...,least_popular_days_3,most_popular_season_1,most_popular_season_2,most_popular_season_3,most_popular_season_4,least_popular_season_1,least_popular_season_2,least_popular_season_3,least_popular_season_4,is_churn
0,OMvOOgSWIt0d0oXGb2z8ycz6yxV4/VY000B9ErSYTYs=,25,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,NNrHMALWVJ5I0JGbTRNlF84fhzvKpU6tKso0Qfc0bxc=,29,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,RYE+q2GPR3BBCpjLx1ARmTeSdMOQHbuF9ssZ8ZjoRrU=,29,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,Rqz3xK92fbVn1Ax/Z1WI9W2Nbv3QVeaeWQtmFm6BmAY=,29,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,SGiSE3zvmnfsei2adKx+WUj+I2+aV5yYJyHkWFrrcZI=,29,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0

### XGBOOST MODELS

In [11]:
members_xg = pd.read_csv('members_boost6000.csv')
logs_xg = pd.read_csv('logs_trees6000.csv')
trans_xg = pd.read_csv('transactions_trees6000.csv')

In [12]:
xg1 = pd.merge(members_xg, logs_xg, on='msno')

In [13]:
xg2 = pd.merge(xg1, trans_xg, on='msno')

In [14]:
xg_final = pd.merge(xg2, train, on='msno')

In [15]:
print(xg_final.shape)
xg_final.head()

(3664, 59)

,msno,city,bd,gender,registered_via,days,season,num_of_logs,sum_num25,avg_num25,...,most_popular_transaction_days,least_popular_transaction_days,most_popular_transaction_seasons,least_popular_transaction_seasons,most_popular_expire_days,least_popular_expire_days,most_popular_expire_seasons,least_popular_expire_seasons,payment_id_is_always_auto_renew,is_churn
0,OMvOOgSWIt0d0oXGb2z8ycz6yxV4/VY000B9ErSYTYs=,4,25.0,male,9,2,1,5,8,1.6,...,3,3,4,1,3,3,4,1,34True,0
1,NNrHMALWVJ5I0JGbTRNlF84fhzvKpU6tKso0Qfc0bxc=,1,NaN,NaN,7,2,2,10,40,4.0,...,3,1,4,1,3,1,4,1,41True,0
2,RYE+q2GPR3BBCpjLx1ARmTeSdMOQHbuF9ssZ8ZjoRrU=,1,NaN,NaN,7,3,3,2,13,6.5,...,3,2,4,1,2,2,4,1,41True,0
3,Rqz3xK92fbVn1Ax/Z1WI9W2Nbv3QVeaeWQtmFm6BmAY=,1,NaN,NaN,7,2,4,1,9,9.0,...,2,2,1,1,2,2,2,1,41True,0
4,SGiSE3zvmnfsei2adKx+WUj+I2+aV5yYJyHkWFrrcZI=,6,29.0,male,9,1,3,10,30,3.0,...,3,3,4,1,3,3,4,1,39True,0

In [16]:
xg_final.to_csv('xgboost_model6000.csv', index=False)

### TREE MODELS

In [17]:
members_tree = pd.read_csv('members_trees6000.csv')

In [18]:
tree1 = pd.merge(members_tree, logs_xg, on='msno')

In [19]:
tree2 = pd.merge(tree1, logs_xg, on='msno')

In [20]:
tree_final = pd.merge(tree2, train, on='msno')

In [21]:
print(tree_final.shape)
tree_final.head()

(3664, 62)

,msno,city,bd,gender,registered_via,days,season,num_of_logs_x,sum_num25_x,avg_num25_x,...,perc_of_favourite_songs_y,avg_songs_per_month_y,avg_days_diff_y,max_days_diff_y,min_days_diff_y,most_popular_days_y,least_popular_days_y,most_popular_season_y,least_popular_season_y,is_churn
0,OMvOOgSWIt0d0oXGb2z8ycz6yxV4/VY000B9ErSYTYs=,4,25,male,9,2,1,5,8,1.6,...,0.951070,81.750,578.0,1440.0,6.0,3,1,4,1,0
1,NNrHMALWVJ5I0JGbTRNlF84fhzvKpU6tKso0Qfc0bxc=,1,-1,NaN,7,2,2,10,40,4.0,...,0.836186,51.125,461.8,1486.0,4.0,3,1,4,1,0
2,RYE+q2GPR3BBCpjLx1ARmTeSdMOQHbuF9ssZ8ZjoRrU=,1,-1,NaN,7,3,3,2,13,6.5,...,0.558140,21.500,377.0,702.0,52.0,2,1,3,1,0
3,Rqz3xK92fbVn1Ax/Z1WI9W2Nbv3QVeaeWQtmFm6BmAY=,1,-1,NaN,7,2,4,1,9,9.0,...,0.312500,16.000,742.0,742.0,742.0,2,2,1,1,0
4,SGiSE3zvmnfsei2adKx+WUj+I2+aV5yYJyHkWFrrcZI=,6,29,male,9,1,3,10,30,3.0,...,0.841079,83.375,439.2,1452.0,4.0,3,1,4,1,0

In [22]:
tree_final.to_csv('trees_model6000.csv', index=False)